In [1]:
import pandas as pd

In [94]:
df = pd.read_csv("npdata.csv")
display(df)

df = df.rename(columns={"Unit Name": "Park"})

for col in df.columns:
    print(col)

,Unnamed: 0,State,Unit Name,Visitors,YearRaw
0,2,North Carolina,Great Smoky Mountains National Park,521947058,Total
1,11,Arizona,Grand Canyon National Park,205486894,Total
2,13,California,Yosemite National Park,190404561,Total
3,15,Colorado,Rocky Mountain National Park,180076609,Total
4,16,Wyoming,Yellowstone National Park,175040126,Total
...,...,...,...,...,...
4738,21555,Wyoming,Yellowstone National Park,13727,1904
4739,21556,South Dakota,Wind Cave National Park,2900,1904
4740,21557,Oregon,Crater Lake National Park,1500,1904
4741,21558,California,Kings Canyon National Park,1000,1904
4742,21559,Washington,Mount Rainier National Park,563,1904

Unnamed: 0
State
Park
 Visitors
YearRaw

AttributeError: module 'pandas' has no attribute 'write_csv'

In [95]:
pd.write_csv("npdata.csv")

AttributeError: module 'pandas' has no attribute 'write_csv'

In [35]:
df2 = pd.read_csv('tots.csv')

df2.rename(columns={'0' : 'Total'})
display(df2['0'])

0        1
1        2
2        1
3        1
4        1
        ..
2535    11
2536    16
2537    11
2538    13
2539     3
Name: 0, Length: 2540, dtype: int64

In [31]:
# df.groupby(["Location.State", "Dates.Sighted.Year"])["Total"].sum()

KeyError: 'Column not found: Total'